rel_path_train_images = train-images.idx3-ubyte
rel_path_train_labels = train-labels.idx1-ubyte

rel_path_test_images = t10k-images.idx3-ubyte
rel_path_test_labels = t10k-labels.idx1-ubyte

rel_path_log_file = log_predictions.txt

num_epochs = 5
batch_size = 1
hidden_size = 500
learning_rate = 1E-3
